#tela-login {
    background-color: #000;
    /*background: url('/../storage/app/public/background-login.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}